.header {
	display: flex;
	height: 4rem;
	padding: 0.8rem 1rem;
	background-color: #000;
	color: #ffffff;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 1em;
}

.input {
	flex-basis: 100%;
	font-size: 1.2rem;
	outline: none;
}

.btn {
	background-color: darkgray;
	outline: none;
}

.btn_img {
	padding: 0.5em 0.2em;
	height: 100%;
}
